{% extends "02_ra.html" %}
{% block contents %}
<p>
    <h1>안내사항</h1>
    <ol>
        <li>제출한 내용이 맞는지 확인하세요.</li>
        <li>일시, 금액, 가맹점명, 인원수를 제대로 입력했는지 반드시 확인하세요.</li>
        <li>문제가 있을 경우, 회계 담당 RA에게 연락 후 재입력하세요.</li>
        <li>문제가 없다면 맨 우측 다운로드 버튼을 클릭하여 영수증 파일을 수령하세요.</li>
        <li>실물영수증 스캔본을 해당 파일에 삽입 후, 제출하세요.</li>
    </ol>
</p>
<p>
<table>
    <thead>
        <tr>
            {% for column in columns %}
                <th>{{ column }}</th>
            {% endfor %}
            <th style="display:none;">user_name</th>
            <th>양식 생성</th> <!-- 양식 생성 열 추가 -->
        </tr>
    </thead>
    {% if data %}
    <tbody>
        {% for row in data %}
        <tr>
            {% for column in columns %}
            <td class="{% if column == 'expenditure' %}number{% endif %}">{{ row[column] }}</td>
            {% endfor %}
            <td style="display:none;">{{ row['user_name'] }}</td>
            <td>
                <form action="/ra/create_xlsx" method="post" style="display:inline;">
                    {% for column in columns %}
                    <input type="hidden" name="{{ column }}" value="{{ row[column] }}">
                    {% endfor %}
                    <button type="submit">다운</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    {% else %}
    {% endif %}
</table>
</p>
{% endblock %}