{% extends "02_ra.html" %}
{% block contents %}
<p>
    <h1>안내사항</h1>
    <ol>
        <li>제출한 내용이 맞는지 확인하세요.</li>
        <li>일시, 금액, 가맹점명, 인원수를 제대로 입력했는지 반드시 확인하세요.</li>
        <li>문제가 있을 경우, 회계 담당 RA에게 연락 후 재입력하세요.</li>
        <li>문제가 없다면 맨 우측 다운로드 버튼을 클릭하여 영수증 파일을 수령하세요.</li>
        <li>실물영수증 스캔본을 해당 파일에 삽입 후, 제출하세요.</li>
    </ol>
</p>
<p>
<h1>영수증 제출 내역</h1>
<table>
    <thead>
        <tr>
            {% for column in columns %}
                <th>{{ column }}</th>
            {% endfor %}
            <th style="display:none;">user_name</th>
            <th>양식 생성</th> <!-- 양식 생성 열 추가 -->
        </tr>
    </thead>
    {% if data %}
    <tbody>
        {% for row in data %}
        <tr>
            {% for column in columns %}
            <td class="{% if column == 'expenditure' %}number{% endif %}">{{ row[column] }}</td>
            {% endfor %}
            <td style="display:none;">{{ row['user_name'] }}</td>
            <td>
                <form action="/ra/create_xlsx" method="post" style="display:inline;">
                    {% for column in columns %}
                    <input type="hidden" name="{{ column }}" value="{{ row[column] }}">
                    {% endfor %}
                    <button type="submit">다운</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    {% else %}
    {% endif %}
</table>
</p>
<p>
<h1>제출된 파일 리스트</h1>
<table>
  <thead>
      <tr>
          <th>영수증 파일</th>
          <th>다운로드</th>
          <th>회의록 hwp</th>
          <th>회의록 pdf</th>
          <th>다운로드</th>
      </tr>
  </thead>
  {% if file_pairs %}
  <tbody>
      {% for receipt, minute in file_pairs %}
      <tr>
          <!-- 영수증 파일 열 -->
          <td>{{ receipt }}</td>
          <td>
              {% if receipt %}
              <form action="/manager/download_file" method="post" style="display:inline;">
                  <input type="hidden" name="filename" value="{{ receipt }}">
                  <input type="hidden" name="type" value="receipt">
                  <input type="hidden" name="pdf" value="">
                  <button type="submit">다운</button>
              </form>
              {% endif %}
          </td>
          <!-- 회의록 파일 열 -->
          <td>{{ minute['filename'] }}</td>
          <td>{{ minute['pdf'] }}</td>
          <td>
              {% if minute %}
              <form action="/manager/download_file" method="post" style="display:inline;">
                  <input type="hidden" name="filename" value="{{ minute['filename'] }}">
                  <input type="hidden" name="type" value="minute">
                  <input type="hidden" name="pdf" value="{{ minute['pdf'] }}">
                  <button type="submit">다운</button>
              </form>
              {% endif %}
          </td>
      </tr>
      {% endfor %}
  </tbody>
  {% else %}
  {% endif %}
</table>
<table>
  <thead>
    <tr>
        <th>기타 파일</th>
        <th>다운</th>
    </tr>
  </thead>
  {% if etc_files %}
      <tbody>
      {% for file in etc_files %}
        <tr>
            <td>{{ file }}</td>
            <td>
                <form action="/manager/download_file" method="post" style="display:inline;">
                  <input type="hidden" name="filename" value="{{ file }}">
                  <input type="hidden" name="type" value="etc">
                  <input type="hidden" name="pdf" value="">
                  <button type="submit">다운</button>
                </form>
            </td>
        </tr>
      {% endfor %}
      </tbody>
  {% else %}
  {% endif %}
</table>
</p>
{% endblock %}