{% extends "02_ra.html" %}
{% block contents %}
<p>
    <h1>링크</h1>
    <ul>
        <li><a href="https://yicra.yonsei.ac.kr/" target="_blank" title="활동일지 및 보고서 작성">RA관리시스템</a></li>
        <li><a href="https://career.yonsei.ac.kr/" target="_blank" title="프로그램 및 학생 관리">커리어연세</a></li>
        <li><a href="https://drive.google.com/drive/folders/1FLXZKumeBVGqi2ncXsagz1GBaoW5Xykr?usp=drive_link" title="AVISON 공유 드라이브">AVISON 공유 드라이브</a></li>
    </ul>
</p>
<p>
    <h1>양식파일 다운로드</h1>
    <ul>
        <li>
            <form action="/ra/download/template" method="POST">
                <input type="hidden" name="category" value="report">
                <input type="hidden" name="category" value="receipt">
                <input type="submit" value="심야영수증">
            </form>
        </li>
        <li>
            <form action="/ra/download/template" method="POST">
                <input type="hidden" name="category" value="report">
                <input type="hidden" name="category" value="gift">
                <input type="submit" value="기념품지급대장">
            </form>
        </li>
        <li>
            <form action="/ra/download/template" method="POST">
                <input type="hidden" name="category" value="report">
                <input type="hidden" name="category" value="minutes">
                <input type="submit" value="회의록">
            </form>
    </ul>
</p>
<p>
    <div class="switch-container">
        <label class="switch">
            <input type="checkbox" class="toggleSwitch">
            <span class="slider round"></span>
            <span class="switch-label">법인카드 사용 시 주의사항</span>
        </label>
    </div>
    <div class="info-container">
        <p>
            <h3>사용시간:</h3>
            평일 오전 8:00 - 오후 11:00
        </p>
        <p>
            <h3>결제금액:</h3>
            <ul>
                <li>온라인 결제 시 최대 30만원 결제 가능</li>
                <li>온라인 30만원 초과 시 신촌 재무회계팀 방문 결제 </li>
                <li><strong>한도 피하기 위해 분할결제 절대 금지!</strong></li>
                <li>프로그램 내 집행금액 총합 50만원 넘을 시 회계 담당에게 보고</li>
            </ul>
        </p>
        <p>
            <h3>제출 기한:</h3>
            매월 1-15일 사이 결제건 => 15일까지<br>
            15일 이후 결제건 => 말일까지
        </p>
    </div>

    <div class="switch-container">
        <label class="switch">
            <input type="checkbox" class="toggleSwitch">
            <span class="slider round"></span>
            <span class="switch-label">결제 불가 품목</span>
        </label>
    </div>
    <div class="info-container">
        <p>결제 불가 품목입니다.</p>
        <ul>
            <li>술!</li>
            <li>입장권</li>
        </ul>
    </div>
</p>
{% endblock %}