{% extends "02_ra.html" %}
{% block contents %}
<p>
    <h1>제출 방법</h1>
    <ol>
        <li>영수증 파일(엑셀)을 제출한다.</li>
        <li>회의록 파일(한글)을 제출한다.</li>
        <li>회의록 파일(pdf)을 제출한다.</li>
    </ol>
</p>
<p>
    <h1>주의사항</h1>
    <ol>
        <li>다운받은 영수증 파일의 이름을 수정하지 않는다.</li>
        <li>영수증 파일의 형식을 변경하지 않는다.</li>
        <li>영수증이 너무 많은 경우, 페이지 레이아웃을 확인하고 2페이지에 추가한다.</li>
        <li>회의록 파일의 제목은 영수증 파일의 제목을 복사 붙여넣기 후, (영)을 (회)로 변경한다.</li>
        <li>회의록 파일 pdf는 한글 파일명과 동일하게 설정한다.</li>
        <li>회의록 1개에 영수증이 여러개인 경우, 영수증 파일을 하나의 파일에 여러개의 시트로 제출한다.</li>
    </ol>
</p>
<p>
<h1>파일 제출</h1>
<div class="form-container">
    <form action="/upload/ra" method="post" enctype="multipart/form-data">
        <input type="file" id="file" name="file" class="file-input" required>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <br>
        <input type="submit" value="Upload">
    </form>
</div>
</p>
<p>
<h1>제출된 파일 리스트</h1>
<table>
  <thead>
      <tr>
          <th>영수증 파일</th>
          <th>다운로드</th>
          <th>회의록 hwp</th>
          <th>회의록 pdf</th>
          <th>다운로드</th>
      </tr>
  </thead>
  {% if file_pairs %}
  <tbody>
      {% for receipt, minute in file_pairs %}
      <tr>
          <!-- 영수증 파일 열 -->
          <td>{{ receipt }}</td>
          <td>
              {% if receipt %}
              <form action="/manager/download_file" method="post" style="display:inline;">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                  <input type="hidden" name="filename" value="{{ receipt }}">
                  <input type="hidden" name="type" value="receipt">
                  <input type="hidden" name="pdf" value="">
                  <button type="submit">다운</button>
              </form>
              {% endif %}
          </td>
          <!-- 회의록 파일 열 -->
          <td>{{ minute['filename'] }}</td>
          <td>{{ minute['pdf'] }}</td>
          <td>
              {% if minute %}
              <form action="/manager/download_file" method="post" style="display:inline;">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                  <input type="hidden" name="filename" value="{{ minute['filename'] }}">
                  <input type="hidden" name="type" value="minute">
                  <input type="hidden" name="pdf" value="{{ minute['pdf'] }}">
                  <button type="submit">다운</button>
              </form>
              {% endif %}
          </td>
      </tr>
      {% endfor %}
  </tbody>
  {% else %}
  {% endif %}
</table>
<table>
  <thead>
    <tr>
        <th>기타 파일</th>
        <th>다운</th>
    </tr>
  </thead>
  {% if etc_files %}
      <tbody>
      {% for file in etc_files %}
        <tr>
            <td>{{ file }}</td>
            <td>
                <form action="/manager/download_file" method="post" style="display:inline;">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                  <input type="hidden" name="filename" value="{{ file }}">
                  <input type="hidden" name="type" value="etc">
                  <input type="hidden" name="pdf" value="">
                  <button type="submit">다운</button>
                </form>
            </td>
        </tr>
      {% endfor %}
      </tbody>
  {% else %}
  {% endif %}
</table>
</p>
{% endblock %}