<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendar for card/isp reservation</title>
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@latest/main.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@latest/main.min.js"></script>
    <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
    <style>
        body { margin: 40px 10px; padding: 0; font-family: Arial, sans-serif; }
        #calendar, #event-details { max-width: 900px; margin: 0 auto; }
        #event-details { margin-top: 20px; padding: 10px; background: #f9f9f9; border: 1px solid #ccc; display: flex; flex-direction: column; }
        .saturday {
            background-color: #add8e6; /* Light blue for Saturday */
            color: darkblue; /* Darker text color */
        }
        .sunday {
            background-color: #ffcccb; /* Light red for Sunday */
            color: darkred; /* Darker text color */
        }
        .event-section-container { display: flex; width: 100%; }
        .event-section { flex: 1; padding: 5px; }
        h2 { width: 100%; text-align: center; margin-top: 0; }
        .event-item, .add-event-button {
            padding: 10px;
            margin-top: 5px;
            background: #fff;
            border: 1px solid #ddd;
            text-align: center;
            cursor: pointer;
        }
        .add-event-button:hover { background-color: #e2e2e2; }
        .modal { display: none; position: fixed; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(0,0,0,0.4); }
        .modal-content { background-color: #fefefe; margin: 15% auto; padding: 20px; border: 1px solid #888; width: 80%; }
        .close { color: #aaa; float: right; font-size: 28px; font-weight: bold; }
        .close:hover, .close:focus { color: black; text-decoration: none; cursor: pointer; }
        .fc-day:hover {
        background-color: #f0f0f0; /* 호버 시 배경색 변경 */
        cursor: pointer; /* 커서 모양을 포인터로 변경 */
        }
    </style>
</head>
<header>
    <input type="button" value="Home" onclick="location.href='/'"><br>
    <strong>카드 보관함 비밀번호: 416</strong><br>
    <strong>ISP 결제비밀번호: 041620</strong>
</header><br>
<body>
    <div id='calendar'></div>
    <div id='event-details'>
        <div class="event-section-container">
            <div class="event-section" id="isp-events"></div>
            <div class="event-section" id="card-events"></div>
        </div>
        <div class="add-event-button">+ 이벤트를 추가하세요</div>
    </div>

    <!-- Modal HTML -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form id="eventForm">
                <label for="programName">프로그램명:</label>
                <select id="programName" name="programName">
                    {% for program in programs %}
                    <option value="{{ program.program_name }}">{{ program.program_name }}</option>
                    {% endfor %}
                </select><br><br>
                <label for="ispCard">ISP/Card 선택:</label>
                <select id="ispCard" name="ispCard">
                    <option value="true">ISP</option>
                    <option value="false">Card</option>
                </select><br><br>
                <label for="startDate">시작 일시:</label>
                <input type="datetime-local" id="startDate" name="startDate" value="">
                <script>
                    function getEndTimeFromStart(startTime) {
                        var startDate = new Date(startTime);
                        var offset = startDate.getTimezoneOffset();  // 현재 로컬 시간대의 타임존 오프셋(분 단위)
                        var endDate = new Date(startDate.getTime() + 60 * 60000);  // 1시간 더하기

                        // 타임존 오프셋을 고려하여 ISO 문자열 조정
                        endDate = new Date(endDate.getTime() - offset * 60000);
                        return endDate.toISOString().slice(0, -8);  // 'YYYY-MM-DDTHH:MM' 형식으로 포매팅
                    }

                    // 현재 시간을 기준으로 초기 날짜와 시간 설정
                    var now = new Date();
                    var startTime = new Date(now.getTime() - now.getTimezoneOffset() * 60000).toISOString().slice(0, -8);
                    document.getElementById('startDate').value = startTime;
                </script>
                <br><br>
                <label for="endDate">종료 일시:</label>
                <input type="datetime-local" id="endDate" name="endDate" value="">
                <script>
                    document.getElementById('endDate').value = getEndTimeFromStart(startTime);

                    // startDate 값 변경 시 endTime 자동 업데이트
                    document.getElementById('startDate').addEventListener('change', function() {
                        document.getElementById('endDate').value = getEndTimeFromStart(this.value);
                    });
                </script>
                <br><br>
                <input type="submit" value="이벤트 추가">
            </form>
        </div>
    </div>

    <div id="eventDetailModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form id="eventDetailForm">
                <label for="editProgramName">프로그램명:</label>
                <input type="text" id="editProgramName" name="programName" readonly><br><br>
                <label for="ispCard2">ISP/Card 선택:</label>
                <select id="ispCard2" name="ispCard2">
                    <option value="true">ISP</option>
                    <option value="false">Card</option>
                </select><br><br>
                <label for="editStartDate">시작 날짜와 시간:</label>
                <input type="datetime-local" id="editStartDate" name="startDate"><br><br>
                <label for="editEndDate">종료 날짜와 시간:</label>
                <input type="datetime-local" id="editEndDate" name="endDate"><br><br>
                <input type="button" value="수정" onclick="updateEvent()">
                <input type="button" value="삭제" onclick="deleteEvent()">
            </form>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var ispEventsEl = document.getElementById('isp-events');
            var cardEventsEl = document.getElementById('card-events');
            var modalAddEvent = document.getElementById("myModal");
            var modalEditEvent = document.getElementById("eventDetailModal");

            var spanCloseAddEvent = document.getElementsByClassName("close")[0];
            var spanCloseEditEvent = document.getElementsByClassName("close")[1];

            // Initialize FullCalendar
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,dayGridWeek'
                },
                initialDate: new Date(),
                events: '/calendar/get/events',
                dayCellClassNames: function(date) {
                    var day = date.date.getDay();
                    return (day === 6) ? 'saturday' : (day === 0) ? 'sunday' : '';
                },
                dateClick: function(info) {
                    displayEventsForDate(info.dateStr);
                },
                eventClick: function(info) {
                    var event = info.event;

                    // 로컬 시간대로 조정하기 위해 UTC 시간에서 getTimezoneOffset()의 결과를 빼거나 더합니다.
                    var startOffset = new Date(event.start.getTime() - event.start.getTimezoneOffset() * 60000);
                    var endOffset = new Date(event.end.getTime() - event.end.getTimezoneOffset() * 60000);

                    // "YYYY-MM-DDTHH:MM" 형식으로 문자열을 잘라서 반환합니다.
                    var formattedStart = startOffset.toISOString().slice(0, 16);
                    var formattedEnd = endOffset.toISOString().slice(0, 16);

                    document.getElementById('editProgramName').value = event.title; // Display only, no edit
                    document.getElementById('ispCard2').value = event.extendedProps.type === 'isp' ? 'true' : 'false';
                    document.getElementById('editStartDate').value = formattedStart;
                    document.getElementById('editEndDate').value = formattedEnd;
                    document.getElementById('editProgramName').setAttribute('data-id', event.id); // 이벤트 ID 저장
                    document.getElementById('editProgramName').setAttribute('data-user', event.extendedProps.user_id); // Save the username
                    document.getElementById('eventDetailModal').style.display = "block";
                }
            });
            calendar.render();

            function displayEventsForDate(dateStr) {
                const events = calendar.getEvents().filter(event => event.startStr.slice(0,10) === dateStr);
                ispEventsEl.innerHTML = '<h2>ISP 예약</h2>';
                cardEventsEl.innerHTML = '<h2>카드 예약</h2>';
                events.forEach(event => {
                    const start = new Date(event.start);
                    const end = new Date(event.end);
                    if (!isNaN(start.getTime()) && !isNaN(end.getTime())) {
                        const eventEl = document.createElement('div');
                        eventEl.className = 'event-item';
                        eventEl.setAttribute('data-id', event.id);
                        eventEl.innerHTML = `<strong>${event.extendedProps.user} - ${event.title}</strong><br> (${start.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit' })} - ${end.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit' })})`;
                        eventEl.onclick = () => openEventDetails(event.id);
                        if (event.type === 'isp' || event.extendedProps && event.extendedProps.type === 'isp') {
                            ispEventsEl.appendChild(eventEl);
                        } else {
                            cardEventsEl.appendChild(eventEl);
                        }
                    } else {
                        console.error('Invalid date:', event.start, event.end);
                    }
                });
            }

            // Automatically display events for the current date on page load
            function loadTodayEvents() {
                const todayStr = new Date().toISOString().slice(0, 10);  // 'YYYY-MM-DD' 형식
                displayEventsForDate(todayStr);
            }

            // Load today's events after the calendar is fully rendered
            calendar.on('eventsSet', function() {
                loadTodayEvents(); // 캘린더가 렌더링되고 나서 오늘 날짜 이벤트 로드
            });

            function openEventDetails(eventId) {
                const event = calendar.getEventById(eventId);
                if (event) {
                    var startOffset = new Date(event.start.getTime() - event.start.getTimezoneOffset() * 60000);
                    var endOffset = new Date(event.end.getTime() - event.end.getTimezoneOffset() * 60000);
                    var formattedStart = startOffset.toISOString().slice(0, 16);
                    var formattedEnd = endOffset.toISOString().slice(0, 16);

                    document.getElementById('editProgramName').value = event.title;
                    document.getElementById('ispCard2').value = event.extendedProps.type === 'isp' ? 'true' : 'false';
                    document.getElementById('editStartDate').value = formattedStart;
                    document.getElementById('editEndDate').value = formattedEnd;
                    document.getElementById('editProgramName').setAttribute('data-id', event.id);
                    document.getElementById('editProgramName').setAttribute('data-user', extendedProps.user_id);
                    document.getElementById('eventDetailModal').style.display = "block";
                }
            }

            function closeModal() {
                modalAddEvent.style.display = "none";
                modalEditEvent.style.display = "none";
            }

            // Open the modal when button is clicked
            document.querySelector('.add-event-button').onclick = function() {
                modalAddEvent.style.display = "block";
            };

            // Close the modal when (x) is clicked
            spanCloseAddEvent.onclick = closeModal;
            spanCloseEditEvent.onclick = closeModal;

            // Close the modal when clicking outside of it
            window.onclick = function(event) {
                if (event.target === modalAddEvent || event.target === modalEditEvent) {
                    closeModal();
                }
            };

            // Handle form submission
            document.getElementById('eventForm').onsubmit = function(event) {
                event.preventDefault(); // Prevent default form submission
                const programName = document.getElementById('programName').value;
                const ispCard = document.getElementById('ispCard').value === 'true';
                const startDate = document.getElementById('startDate').value;
                const endDate = document.getElementById('endDate').value;

                // Validate end time is after start time
                if (new Date(endDate) <= new Date(startDate)) {
                    alert("종료 시간은 시작 시간보다 빠를 수 없습니다.");
                    return;
                }

                fetch('/calendar/submit/create', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({
                        program_id: programName,
                        isp_card: ispCard,
                        start_datetime: startDate,
                        end_datetime: endDate
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        calendar.refetchEvents(); // 캘린더 이벤트를 다시 불러옵니다.
                        modalAddEvent.style.display = "none"; // 모달 창을 닫습니다.
                        alert(data.message); // 성공 메시지 표시
                    } else {
                        alert(data.message); // 에러 메시지 표시
                    }
                })
                .catch(error => console.error('Error:', error));
            };

            window.updateEvent = function() {
                const eventId = document.getElementById('editProgramName').getAttribute('data-id');
                const ispCard = document.getElementById('ispCard2').value === 'true';
                const startDate = document.getElementById('editStartDate').value;
                const endDate = document.getElementById('editEndDate').value;
                const username = document.getElementById('editProgramName').getAttribute('data-user');  // Get user from the attribute

                if (new Date(endDate) <= new Date(startDate)) {
                    alert("종료 시간은 시작 시간보다 빠를 수 없습니다.");
                    return;
                }
                console.log('Sending update:', eventId, ispCard, startDate, endDate, username);

                fetch('/calendar/submit/update', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({
                        event_id: eventId,
                        isp_card: ispCard,
                        start_datetime: startDate,
                        end_datetime: endDate,
                        username: username
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        calendar.refetchEvents(); // 캘린더 이벤트를 다시 불러옵니다.
                        modalEditEvent.style.display = "none"; // 모달 창을 닫습니다.
                        alert(data.message);  // 성공 메시지 표시
                    } else {
                        alert(data.message);  // 실패 메시지 표시
                    }
                })
                .catch(error => console.error('Error:', error));
            };

            window.deleteEvent = function() {
                const eventId = document.getElementById('editProgramName').getAttribute('data-id'); // Assume event ID is stored
                const username = document.getElementById('editProgramName').getAttribute('data-user');  // Get user from the attribute

                fetch(`/calendar/submit/delete`, {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' }, // 이 부분을 추가해야 합니다.
                    body: JSON.stringify({
                        id: eventId,
                        username: username
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        calendar.refetchEvents(); // 캘린더 이벤트를 다시 불러옵니다.
                        modalEditEvent.style.display = "none"; // 모달 창을 닫습니다.
                        alert(data.message); // 성공 메시지 표시
                    } else {
                        alert(data.message); // 에러 메시지 표시
                    }
                })
                .catch(error => console.error('Error:', error));
            };
        });
    </script>

</body>
</html>