{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<h1>Manager Page</h1>
<ul>
    <li>
        <h3>초기 설정</h3>
        <ol>
            <li>RA명단 등록<input type="button" value="등록" onclick="showForm('RA List Registration');"></li>
            <li>프로그램 명단 등록<input type="button" value="등록" onclick="showForm('Program Registration');"></li>
        </ol>
        <p>
            <form action="/upload/manager" method="post" enctype="multipart/form-data">
                <label for="file">Upload File:</label>
                <input type="file" id="file" name="file" required>
                <br><br>
                <input type="submit" value="Upload">
            </form>
        </p>
    </li>
    <li>
        <h3>전체 영수증 제출 관리</h3>
        <ol>
            <li>기간 선택<br>
                <form method="GET" action="/manager" style="display:inline;">
                    <label for="month">월:</label>
                    <select id="month" name="month">
                        <option value="" {% if not current_month %}selected{% endif %}>All</option>
                        {% for m in range(1, 13) %}
                        <option value="{{ m }}" {% if m == current_month %}selected{% endif %}>{{ m }}</option>
                        {% endfor %}
                    </select>
                    <label for="period">회차:</label>
                    <select id="period" name="period">
                        <option value="" {% if not current_period %}selected{% endif %}>All</option>
                        {% for p in range(1, 3) %}
                        <option value="{{ p }}" {% if p == current_period %}selected{% endif %}>{{ p }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="필터 적용">
                    <input type="button" value="필터 해제" onclick="window.location.href='/manager';">
                </form>
            </li>
            <li>제출내역 확인<br>
                {% if data %}
                <table>
                    <thead>
                        <tr>
                            {% for column in columns %}
                                <th>{{ column }}</th>
                            {% endfor %}
                            <th style="display:none;">id</th>
                            <th>양식 생성</th> <!-- 양식 생성 열 추가 -->
                            <th>삭제</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data %}
                        <tr>
                            {% for column in columns %}
                            <td class="{% if column == 'expenditure' or column == 'head_count' %}number{% endif %}">{{ row[column] }}</td>
                            {% endfor %}
                            <td style="display:none;">{{ row['id'] }}</td> <!-- Hidden cell for ID -->
                            <td>
                                <form action="/ra/create_xlsx" method="post" style="display:inline;">
                                    {% for column in columns %}
                                    <input type="hidden" name="{{ column }}" value="{{ row[column] }}">
                                    {% endfor %}
                                    <button type="submit">다운</button>
                                </form>
                            </td>
                            <td>
                                <form action="/manager/delete_receipt" method="post" style="display:inline;">
                                    <input type="hidden" name="id" value="{{ row['id'] }}">
                                    <button type="submit">삭제</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    No data available for the selected house.
                {% endif %}
            </li><br>
            <li>파일 제출내역 확인<br>
                {% if file_pairs %}
                <table>
                    <thead>
                        <tr>
                            <th>영수증 파일</th>
                            <th>다운로드</th>
                            <th>삭제</th>
                            <th>회의록 hwp</th>
                            <th>회의록 pdf</th>
                            <th>다운로드</th>
                            <th>삭제</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for receipt, minute in file_pairs %}
                        <tr>
                            <!-- 영수증 파일 열 -->
                            <td>{{ receipt }}</td>
                            <td>
                                {% if receipt %}
                                <form action="/manager/download_file" method="post" style="display:inline;">
                                    <input type="hidden" name="filename" value="{{ receipt }}">
                                    <input type="hidden" name="type" value="receipt">
                                    <input type="hidden" name="pdf" value="">
                                    <button type="submit">다운</button>
                                </form>
                                {% endif %}
                            </td>
                            <td>
                                {% if receipt %}
                                <form action="/manager/delete_file" method="post" style="display:inline;">
                                    <input type="hidden" name="filename" value="{{ receipt }}">
                                    <input type="hidden" name="type" value="receipt">
                                    <input type="hidden" name="pdf" value="">
                                    <button type="submit">삭제</button>
                                </form>
                                {% endif %}
                            </td>

                            <!-- 회의록 파일 열 -->
                            <td>{{ minute['filename'] }}</td>
                            <td>{{ minute['pdf'] }}</td>
                            <td>
                                {% if minute %}
                                <form action="/manager/download_file" method="post" style="display:inline;">
                                    <input type="hidden" name="filename" value="{{ minute['filename'] }}">
                                    <input type="hidden" name="type" value="minute">
                                    <input type="hidden" name="pdf" value="{{ minute['pdf'] }}">
                                    <button type="submit">다운</button>
                                </form>
                                {% endif %}
                            </td>
                            <td>
                                {% if minute %}
                                <form action="/manager/delete_file" method="post" style="display:inline;">
                                    <input type="hidden" name="filename" value="{{ minute['filename'] }}">
                                    <input type="hidden" name="type" value="minute">
                                    <input type="hidden" name="pdf" value="{{ minute['pdf'] }}">
                                    <button type="submit">삭제</button>
                                </form>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p>No files found.</p>
                {% endif %}
            </li>
        </ol>
    </li>
    <li>
        <h3>회계자료 제작</h3>
        <ol>
            <li>
                <form method="POST" action="/manager/process_accounting" style="display:inline;">
                    <label for="month">월:</label>
                    <select id="process_month" name="month">
                        {% for m in range(1, 13) %}
                        <option value="{{ m }}" {% if m == current_month %}selected{% endif %}>{{ m }}</option>
                        {% endfor %}
                    </select>
                    <label for="period">기간:</label>
                    <select id="process_period" name="period">
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                    <input type="submit" value="자료 제작">
                </form>
            </li>
            <li><input type="button" value="기간별 회계자료 정산" onclick="showAccountingPopup();"></li>
            <li><input type="button" value="학기말 회계자료 정산" onclick=""></li>
        </ol>
    </li>
</ul>
{% endblock %}
