<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manager Page</title>
    <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
</head>
<body>
  <h1>Manager Page</h1>
    <ul>
        <li>
            <h3>초기 설정</h3>
            <ol>
                <li>RA명단 등록<input type="button" value="등록" onclick="showRAListForm()">
</li>
                <li>프로그램 명단 등록<input type="button" value="등록" onclick="loadProgramRegistrationForm()"></li>
            </ol>
            <p>
                <form action="/upload/manager" method="post" enctype="multipart/form-data">
                    <label for="file">Upload File:</label>
                    <input type="file" id="file" name="file" required>
                    <br><br>
                    <input type="submit" value="Upload">
                </form>
            </p>
        </li>
        <li>
            <h3>전체 영수증 제출 관리</h3>
            <ol>
                <li>제출내역 확인</li>
                <li>삭제</li>
            </ol>
        </li>
        <li>
            <h3>회계자료 제작</h3>
            <ol>
                <li><input type="button" value="기간별 회계자료 정산" onclick="showAccountingPopup();"></li>
                <li><input type="button" value="학기말 회계자료 정산" onclick=""></li>
            </ol>
        </li>

    </ul>
</body>
</html>