{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<h1>Accounting System RA User</h1>
<ul>
    <li><input type="button" value="영수증 제출" onclick="location.href='/ra/post_receipt'"></li>
    <li>
        <h3>영수증 제출 내역 확인(본인)</h3>
        {% if data %}
            <table>
                <thead>
                    <tr>
                        {% for column in columns %}
                            <th>{{ column }}</th>
                        {% endfor %}
                        <th>양식 생성</th> <!-- 양식 생성 열 추가 -->
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        {% for column in columns %}
                        <td class="{% if column == 'expenditure' %}number{% endif %}">{{ row[column] }}</td>
                        {% endfor %}
                        <td>
                            <form action="/ra/create_xlsx" method="post" style="display:inline;">
                                {% for column in columns %}
                                <input type="hidden" name="{{ column }}" value="{{ row[column] }}">
                                {% endfor %}
                                <button type="submit">다운</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>No data available for the selected user.</p>
            {% endif %}
    </li>
    <li><h3>파일 제출</h3>
        <form action="/upload/ra" method="post" enctype="multipart/form-data">
            <label for="file">Upload File:</label>
            <input type="file" id="file" name="file" required>
            <br><br>
            <input type="submit" value="Upload">
        </form>
    </li>
</ul>
{% endblock %}