
<!DOCTYPE html>
<html lang="ko" class="htmlwrapper">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width">
	<title>연세대학교 RC교육원 RA운영관리시스템</title>
	<link rel="shortcut icon" type="image/x-icon" href="./images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}" />
	<link rel="stylesheet" type="text/css" href="/script/datepicker/datepicker.css" />
	<script type="text/javascript" src="/script/jquery.min.js"></script>
	<script type="text/javascript" src="/script/jquery.base64.min.js"></script>
	<script type="text/javascript" src="/script/input.js"></script>
	<script type="text/javascript" src="/script/datepicker/datepicker.js"></script>
	<script type="text/javascript" src="/script/datepicker/datepicker_ko.js"></script>
	<script type="text/javascript" src="/script/bpopup/jquery.bpopup.js"></script>
</head>
<body class="htmlwrapper">
	<H1 class="notext">연세대학교 RC교육원 RA운영관리시스템</H1>
	<div id="wrapper">
		<div id="rcs_top">
			<h2 class="notext">로고 및 로그아웃 버튼 영역</h2>
			<div id="rcs_top_area">
				<div id="rcs_top_logo"><a href="/index.php" title="연세대학교 RC교육원 RA운영관리시스템">연세대학교 RC교육원 RA운영관리시스템</a></div>
									<div id="rcs_logout"><a href="index.php?mid=m02_01" style="text-decoration:none;" title="로그인 버튼">로그인</a></div>
								</div>
		</div>
		<div id="rcs_top_menu">
			<h2 class="notext">메뉴 영역</h2>
			<div id="rcs_top_menu_area">
				<ul class="itemlist">
					<li id="mainmenu01"><a class="menu_on" href="index.php?mid=m01_01" title="알림마당">알림마당</a></li>
					<li id="mainmenu02"><a  href="index.php?mid=m02_01" title="RA활동일지">RA활동일지</a></li>
				</ul>
			</div>
		</div>
		<div id="rcs_mid">
			<div id="rcs_mid_area">
				<div id="rcs_contents_area">
												<div id="rcs_mid_tab">
								<ul class="itemlist">
									<li><a class="tab_on" href="index.php?mid=m01_01" title="공지사항">공지사항</a></li>
									<li><a  href="index.php?mid=m01_02" title="자료실">자료실</a></li>
								</ul>
							</div>
													<div id="rcs_contentsbox">
									<form name="bbssearch2" method="post" action="/index.php?mid=m01_01&cmid=m01_01&skeyword=&pact=&act=list">
		<select name="sHeader" id="sHeader"  title="분류" ><option value="">전체 분류</option><option value="HA001">공지</option></select> <a href="#" OnClick="Javascript: showLoader(); document.bbssearch2.submit(); return false;" class="button icon search">조회</a>
		</form>
		<p class="total_num" style="margin-top:-20px;">Total: 0 data, Page 1 of 0			<table summary="공지사항" id="Board">
		<caption class="notext">공지사항</caption>
		<thead>
			<tr>
				<th class="BlindColumn" width="60">번호</th>
				<th class="Subject">제목</th>
				<th class="board_date" width="100">등록일</th>
				<!--<th class="BlindColumn" width="80">조회수</th>-->
			</tr>
		</thead>
		<tbody>
					<tr><td colspan="4">조회된 데이터가 없습니다</td></tr>
					</tbody>
	</table>
		<div style="clear:both; text-align:center; margin-top:16px;"><ul class="bbspagination"><li><a href="/index.php?mid=m01_01&cmid=m01_01&skeyword=&pact=&sHeader=&sYear=&act=list&page=1" title="처음 페이지로"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li> <li><a href="/index.php?mid=m01_01&cmid=m01_01&skeyword=&pact=&sHeader=&sYear=&act=list&page=1" title="이전 페이지로"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li><li><a href="/index.php?mid=m01_01&cmid=m01_01&skeyword=&pact=&sHeader=&sYear=&act=list&page=0" title="다음 페이지로"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li> <li><a href="/index.php?mid=m01_01&cmid=m01_01&skeyword=&pact=&sHeader=&sYear=&act=list&page=0" title="마지막 페이지로"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li></ul></div>	<form name="bbssearch" method="post" action="/index.php?mid=m01_01&cmid=m01_01&pact=&sHeader=&act=list">
		<fieldset>
			<legend class="notext">검색</legend>
			<p style="text-align:center;"><label for="searchkeyword" class="notext">검색</label><input type="text" name="skeyword" id="skeyword" value="" style="width:100px;line-height:16px;" title="검색어"> <a href="#" OnClick="Javascript: showLoader(); document.bbssearch.submit(); return false;" class="button icon search">검색</a></p>
		</fieldset>
	</form>
							</div>
										</div>
			</div>
		</div>
		<div id="rcs_bottom">
			<div id="rcs_bottom_area">
				<H2 class="notext">로고 및 저작권 영역</H2>
				<ul class="itemlist">
					<li id="bottom01"><img src="./images/rcs_footlogo.png" alt="연세대학교 로고"></li>
					<li id="bottom02">연세대학교 Residential College<br><span style="color:#acacac;">21983 인천광역시 연수구 송도과학로 85TEL 032-749-3223~6  Email : yicrc@Yonsei.ac.kr</span><br><span class="opensans" style="color:#acacac; font-size:12px;">COPYRIGHT© Residental College, Yonsei University. All Rights Reserved.</span></li>
					<li id="bottom03"><a href="https://yicrc.yonsei.ac.kr/main/policy.asp?mid=m00_02" target="_blank" style="padding:2px 15px 2px 15px; color:#001e40; font-weight:bold; border-radius:15px; color:#666666; background:#f3f3f3; border:1px solid #666666;">개인정보처리방침</a></li>
				</ul>
			</div>
		</div>
	</div>
	<H2 class="notext">페이지 로딩 이미지 표시</h2>
<div id="loading-image" style="display:none;">
	<p id="loading-loader"><img src="/images/loader.gif" alt="Loading..." width="100px;" /><br><br><b style="color:#000000;">처리중입니다</b></p>
</div>
	<div id="user_pop_up">
		<a class="b-close" id="b-close">x</a>
		<div class="user_pop_content"></div>
	</div>
	<div id="user_pop_up2">
		<a class="b-close" id="b-close2">x</a>
		<div class="user_pop_content2"></div>
	</div>
</body>
</html>
